#about__andijan {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .carusel_title{
        text-align:  center;
        font-size: 45px;
        font-weight: bold;
        font-family: sans-serif;
        margin-bottom: 20px;
        color: darkblue;
        
    }
     .carousel-inner{
        border-radius: 5px;
        .carusel__img {
            position: cover;
        }
    }
    .main_wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 1200px;
        height: 600px;
        /* border: 3px solid dodgerblue; */
        .wrapper_right{
            width: 500px; 
            height:500px;
            margin-top: 60px;
            // margin-left: 30px;
            .wrapper_title{
                font-size: 35px;
                font-weight: bold;
                font-family: sans-serif;
                margin-top: 80px;
                margin-bottom: 20px;
                text-align: center;
            }
            .wrapper_text {
                letter-spacing: 1.5px;
            }
            .wrapper_img {
                width: 700px; 
                height:500px;
                margin-top: 40px;
                background-image: cover;
                border-radius: 10px;
            }
        }
    }
}